:root{
    --background-color: linear-gradient(120deg, #59b4ff, #001cbb);
    --color-checkbox: #000;
    --transition: all .5s;
    --box-shadow-relogio: 0px 8px 10px rgba(0, 0, 0, 0.5);  
    --background-relogio-div: rgba(5, 5, 5, 0.9);
    --color-relogio-div: #fff;
}

.blue-mode:root{
    --background-color: linear-gradient(120deg, #f8bd3d, #a04a04d7);
    --color-checkbox: #fff;
    --transition: all .5s;
    --background-relogio-div: rgba(5, 5, 5, 0.9);  
    --background-relogio-div: rgba(255, 255, 255, 0.9);
    --color-relogio-div: #2e2e2e;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.checkbox{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-bottom: 600px;
    color: var(--color-checkbox);
    font-weight: bolder;
    transition: var(--transition);
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: var(--box-shadow-relogio);    
    transition: all 0.5s;
}
.relogio:hover{
    transform: scale(1.05);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-relogio-div);
    background: var(--background-relogio-div);
    border-radius: 7px;
    letter-spacing: 3px;
    transition: var(--transition);
}

.relogio span{
    font-size: 60px;
    font-weight: bolder;
}
.relogio span.tempo{
    font-size: 15px;
}

input{
    
}